.App{
    background: linear-gradient(white, rgb(224, 224, 113));
    width: fit-content;
    height: 100%;
  }


.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-logo {
  max-width: 24rem;
  object-fit: contain;
}
.content{
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
}
.pic-content{
  width: 35%;
}

.sub-content {
  width: 65%;
  margin-bottom: auto;
}

.award {
  max-width: 30rem;
}

.award-receive {
  max-width: 60rem;
}

.description{
  display: flex;
  justify-content: center;
}

.fluid{
  display: flex;
  justify-content: center;
}

.red-line{
  height:2px;
  width: 100%;
  background-color: rgb(255, 0, 0);
}
.item{
  max-width: 90rem;
}

.test {
  display: flex;
  flex-direction: column;
}

a{
  color: white;
}

.pic-items{
  display: block;
  justify-content: center;
}

.down{
  position: relative;
  display: flex;
  color: aliceblue;
  flex-direction: row;
  align-items: center;
}

.footer{
  display: flex;
  justify-content:space-around;
  background: #ec3636;
  height: 6rem;
}